.AuctionTitle {
  font-family: Satoshi;
  font-size: 28px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  padding-left: 139px;
}

.popularTitle {
  margin: 30px 0;
  font-family: Satoshi;
  font-size: 30px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0px;
  padding-left: 139px;
}

/* AUCTION IMAGE */

/* .auctionImage {
  padding-left: 139px;
} */

.auctionImageBox {
  position: relative;
}

.auctionImageTime {
  border: 2px solid white;
  position: absolute;
  bottom: 20px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  padding: 0px 10px;
  border-radius: 5px;
  left: 80px;
  color: white;
  background-color: rgb(237, 236, 236) e;
}

.auctionBoxImage {
  display: flex;
  padding-left: 139px;
}
/* AUCTION BID MAIN */

.auctionBidMain {
  padding-left: 139px;
  display: flex;
  gap: 100px;
}
/* AUNCTION BID */
.auctionBid {
  width: 400px;
}

.auctionBidBox {
  box-shadow: 0px 0px 9px -1px #00000040;
  border-radius: 15px;
  padding: 10px 0;
}

.auctionBidHeart {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px 20px;
}

.auctionBidText {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 20px;
  font-size: 24px;
  font-weight: 700;
}

.auctionBidTextBody {
  font-family: Satoshi;
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
}

.auctionBidTextBody span {
  font-weight: 700;
}

.auctionBidButtonBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auctionBidButtonBox button {
  background: #3341c1;
  border-radius: 3.68216px;
  color: white;
  padding: 19px 70px;
  border: none;
  transition: 1s;
  cursor: pointer;
}

.auctionBidButton p {
  font-family: Satoshi;
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  color: #616161;
}

.auctionBidButton span {
  font-family: Satoshi;
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
}

/* AUCTION WEB BID */

.BidContainer {
  padding: 40px 120px;
}

.BidLinkBox p {
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0px;
  color: #bcb7b7;
}

.BidLinkBox p span {
  color: #333333;
}

.BidBox {
  border: 1px solid #000000;
  display: flex;
}

.BidBoxImg {
  width: 40%;
}

.BidBoxChatBox {
  width: 60%;
}

.BidBoxChatProfile {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 274px;
  height: 87px;
  margin-bottom: 10px;
  border: 2px solid red;
}

.BidBoxChatProfile p:nth-child(1) {
  color: #bcb7b7;
}

.BidBoxChatProfile p:nth-child(2) {
  font-weight: 700;
}

.BidBoxChatProfileImageBox {
  border-radius: 50%;
}

.BidBoxChatBody {
  height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
  padding: 0 40px;
}

.BidBoxChatTextBox {
  padding: 10px 40px;
}

.BidBoxChatTextBox p {
  color: #bcb7b7;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
}

.BidBoxChatTextBox input {
  padding: 12px 50px 12px 20px;
  width: 80%;
  border-radius: 15px;
  outline: none;
  margin-right: 50px;
  border: 1px solid #bcb7b7;
}
