.AuctionTitle {
  font-family: Satoshi;
  font-size: 28px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  padding-left: 139px;
}

.LiveBox {
  display: flex;
  align-items: center;
  padding: 23px 43px;
  justify-content: space-between;
}

.liveBoxTitle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 35px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.liveBoxText {
  position: absolute;
  padding: 0 57px;
  bottom: 0;
  left: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.closeAuctionBtn {
  color: white;
  cursor: pointer;
  font-size: 2rem;
}

.AuctionDropTitle {
  display: flex;
  align-items: center;
  gap: 28px;
}

.arrowAuction {
  border: 0.5px solid #000000;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 9999px;
}

.auctionLiveBtn {
  background-image: linear-gradient(
    to right,
    #006ca2 13.63%,
    rgba(192, 86, 9, 0.49) 67.89%
  );
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  width: 104px;
  height: 39px;
  border-radius: 20px;
}

.auctionLiveBtn:hover {
  background-image: linear-gradient(
    to right,
    #006ca2 13.63%,
    rgba(192, 86, 9, 0.49) 67.89%
  );
  box-shadow: 0px 0px 15px rgba(192, 86, 9, 0.49) 67.89%;
  transform: translateY(-5px);
  text-shadow: 0px 0px 5px rgba(192, 86, 9, 0.49) 67.89%;
  transition: background-image 1s, box-shadow 1s, transform 1s, text-shadow 1s,
    color 1s;
}
.popularTitle {
  margin: 30px 0;
  font-family: Satoshi;
  font-size: 30px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0px;
  padding-left: 139px;
}

/* AUCTION IMAGE */

.auctionImage {
  display: flex;
  width: 80%;
  gap: 43px;
  overflow-x: scroll;
}

.auctionImageBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auctionImage::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.auctionImageMain {
  box-shadow: 0px 0px 9px -1px #00000040;
  border-radius: 9px;
}

.auctionImage {
  overflow: -moz-scrollbars-none; /* Hide scrollbar in Firefox */
  scrollbar-width: none; /* Hide scrollbar in Internet Explorer and Microsoft Edge */
  -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer and Microsoft Edge */
  overflow: scroll; /* Enable vertical scrolling */
  margin-right: -30px; /* Adjust right margin to account for the missing scrollbar */
}

.auctionImageTime {
  border: 0.5px solid #ffffff;
  position: absolute;
  bottom: 20px;
  width: 350px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  padding: 0px 10px;
  border-radius: 3px;
  left: 25px;
  color: white;
  backdrop-filter: blur(1px);
  background-color: rgba(245, 244, 244, 0.24);
}

.auctionBoxImage {
  display: flex;
  padding-left: 139px;
}
/* AUCTION BID MAIN */

.auctionBidMain {
  padding-left: 139px;
  display: flex;
  gap: 100px;
  margin-bottom: 100px;
}
/* AUNCTION BID */
.auctionBid {
  width: 400px;
}

.mobileAuction {
  display: none;
}

.auctionBidBox {
  box-shadow: 0px 0px 9px -1px #00000040;
  border-radius: 15px;
  padding: 10px 0;
}

.auctionBidHeartBox {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.auctionBidHeart {
  margin: 13px 30px;
  padding: 10px 20px;
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.auctionBidText {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 20px;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.auctionBidTextBody {
  font-family: Satoshi;
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: capitalize;
}

.auctionBidTextBody span {
  font-weight: 700;
}

.auctionBidButtonBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px;
  border-radius: 10px;
  background: #f6f4f4;
}

.auctionBidButtonBox button {
  background-image: linear-gradient(
    to right,
    #006ca2 13.63%,
    rgba(192, 86, 9, 0.49) 67.89%
  );
  border-radius: 3.68216px;
  color: white;
  padding: 19px 70px;
  border: none;
  transition: 1s;
  cursor: pointer;
}

.auctionBidButtonBox button:hover {
  background-image: linear-gradient(
    to right,
    #006ca2 13.63%,
    rgba(192, 86, 9, 0.49) 67.89%
  );
  box-shadow: 0px 0px 15px rgba(192, 86, 9, 0.49) 67.89%;
  transform: translateY(-5px);
  text-shadow: 0px 0px 5px rgba(192, 86, 9, 0.49) 67.89%;
  transition: background-image 1s, box-shadow 1s, transform 1s, text-shadow 1s,
    color 1s;
}

.auctionBidButton p {
  font-family: Satoshi;
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  color: #616161;
}

.auctionBidButton span {
  font-family: Satoshi;
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
}

/* AUCTION WEB BID */

.BidContainer {
  padding: 40px 120px;
}

.BidLinkBox p {
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0px;
  color: #bcb7b7;
}

.BidLinkBox p span {
  color: #333333;
}

.BidBox {
  /* border: 1px solid #000000; */
  display: flex;
  /* gap: 100px; */
  align-items: center;
  justify-content: center;
}

.BidBoxImg {
  width: 50%;
  box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.BidBoxChatBox {
  width: 50%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.1);
}

.BidBoxChatProfile {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 274px;
  height: 87px;
  margin-bottom: 10px;
}

/* .BidBoxChatProfile p:nth-child(1) {
  color: #bcb7b7;
} */

.BidBoxChatProfile p:nth-child(2) {
  font-weight: 700;
}

.BidBoxChatProfileImageBox {
  border-radius: 50%;
}

.BidBoxChatBody {
  height: 90vh;
  overflow: scroll;
  scroll-behavior: smooth;
  padding: 0 40px;
}

.BidBoxChatBody::-webkit-scrollbar {
  display: none;
}

.BidBoxChatBody {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* FLOATING HEART */

.BidBoxChatTextBox {
  padding: 10px 40px;
}

.BidBoxChatTextBox p {
  /* color: #bcb7b7; */
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
}

.BidBoxChatTextBox input {
  /* padding: 12px 50px 12px 20px;
  width: 80%;
  border-radius: 15px;
  outline: none;
  margin-right: 50px;
  border: 1px solid #bcb7b7; */

  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.textBox {
  position: relative;
}

.BidBoxChatTextBox i {
  /* style the icon */
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  color: #ccc;
}

.BidBoxChatTextBox input::placeholder {
  /* style the placeholder */
  color: #ccc;
  transition: all 0.3s ease-in-out;
}

.BidBoxChatTextBox input:focus {
  outline: none; /* remove the focus outline */
}

.BidBoxChatTextBox input:focus::placeholder {
  /* move the placeholder on focus */
  transform: translateY(-15px);
  font-size: 12px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .AuctionTitle,
  .popularTitle {
    font-family: Satoshi;
    font-size: 22px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    padding-left: 20px;
  }

  .auctionBidMain {
    padding-left: 20px;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .auctionImage {
    width: 100%;
  }
  .auctionBoxImage {
    display: flex;
    padding: 0 20px;
  }
  .AuctionTitle,
  .popularTitle {
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    padding-left: 5px;
  }

  .auctionBidMain {
    padding-left: 5px;
    gap: 50px;
    flex-direction: column;
  }

  .auctionBid {
    width: 100%;
  }

  .bidImage {
    width: 100%;
  }

  .auctionBidText {
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
    padding: 0px 20px;
  }

  .auctionBidBox {
    padding: 0;
  }

  .auctionBidButtonBox button {
    padding: 19px 50px;
    margin-right: 10px;
  }
}

@media (min-width: 320px) and (max-width: 979px) {
  .BidContainer {
    display: none;
  }

  .mobileAuction {
    display: block;
  }

  .mobileAuctionImage {
    width: 100% !important;
    position: relative;
    height: 100vh !important;
  }

  .mobileAuctionContent {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .mobileTop {
    display: flex;
    gap: 64px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    color: white;
  }

  .mobileTopText2 {
    font-family: Satoshi;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    background: #006ca2;
    border-radius: 5px;
    width: 49px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .mobileTop2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .mobileTopText1 {
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
  }

  .mobileTopText3 {
    font-family: Satoshi;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    width: 60px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }

  .mobileTopText4 {
    cursor: pointer;
  }

  .mobileBottom {
    height: 235px;
    width: 100vw;
    color: white !important;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .mobileTop {
    display: flex;
    gap: 64px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100vw;
  }

  .mobileMiddle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 125px 0 !important;
    font-family: Satoshi;
    font-size: 50px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0px;
    color: white;
  }

  .mobileBottom {
    height: 235px;
    color: white !important;
    width: 100vw;
    padding: 0 10px;
  }

  .mobileBottom1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 420px;
    overflow: scroll;
    padding: 0 5px;
  }

  .mobileInputBox {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
  }

  .mobileInput {
    border: 1px solid #ffffff;
    border-radius: 15px;
    width: 95%;
    height: 40px;
    padding: 0 20px;
    position: relative;
  }

  .mobileSend {
    position: absolute;
    color: #000000;
    right: 70px;
    cursor: pointer;
  }
}

@media (max-width: 320px) {
  .mobileMiddle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    font-family: Satoshi;
    font-size: 30px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0px;
    color: white;
  }

  .mobileBottom1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 170px;
    overflow: scroll;
    padding: 0 5px;
  }

  .mobileInputBox {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
  }

  .mobileInput {
    border: 1px solid #ffffff;
    border-radius: 15px;
    width: 100%;
    height: 35px;
    padding: 0 20px;
    position: relative;
  }

  .mobileSend {
    position: absolute;
    color: #000000;
    right: 60px;
    cursor: pointer;
  }
}

@media (min-width: 321px) and (max-width: 415px) {
  .mobileMiddle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0;
    font-family: Satoshi;
    font-size: 30px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0px;
    color: white;
  }

  .mobileBottom1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: scroll;
    height: 100%;
    padding: 0 10px;
  }

  .mobileInputBox {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin: 0 10px;
  }

  .mobileInput {
    border: 1px solid #ffffff;
    border-radius: 15px;
    width: 100%;
    height: 35px;
    padding: 0 20px;
    position: relative;
  }

  .mobileSend {
    position: absolute;
    color: #000000;
    right: 70px;
    cursor: pointer;
  }
}

@media (min-width: 413px) and (max-width: 429px) {
  .mobileMiddle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px 0 !important;
    font-family: Satoshi;
    font-size: 30px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0px;
    color: white;
  }

  .mobileBottom1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: scroll;
    height: 320px;
    padding: 0 5px;
  }

  .mobileInput {
    border: 1px solid #ffffff;
    border-radius: 15px;
    width: 100%;
    height: 35px;
    padding: 0 20px;
    position: relative;
  }

  .mobileSend {
    position: absolute;
    color: #000000;
    right: 105px;
    cursor: pointer;
  }

  .mobileInputBox {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
  }
}
