.marketLinkBox {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.marketLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 88px;
  position: relative;
  padding: 0;
  width: 503px;
  border-bottom: 0.5px solid #747474;
}

.marketLinkContent {
  display: flex;
  gap: 90px;
  position: absolute;
  top: -40px;
}

.marketLinkContent p {
  padding: 0px 10px;
}

.marketLinkStyling {
  font-family: Satoshi;
  /* font-size: 24px; */
  font-weight: 500;
  /* line-height: 32px; */
  letter-spacing: 0em;
  color: #292929;
  border-bottom: 2px solid #292929;
  padding-bottom: 5px;
}

.marketLinkShipping {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 88px;
  position: relative;
  padding: 0;
  width: 603px;
  border-bottom: 0.5px solid #747474;
}

.cartHover:hover {
  background-color: #c7c6c6;
  padding: 0px 10px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  color: #292929 !important;
  border-radius: 2px;
}

/* SHOPPING CART */

.emptyCartBox {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}

.emptyCartTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.emptyCartTitle span:first-child {
  font-family: Satoshi;
  font-size: 41px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: center;
  color: tomato;
}

.emptyCartTitle span:nth-child(2),
.emptyCartTitle span:nth-child(3) {
  font-family: Satoshi;
  font-size: 25px;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 0;
}

.emptyCartBtn {
  border: none;
  outline: none;
  padding: 20px 30px;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #006ca2 13.63%,
    rgba(192, 86, 9, 0.49) 67.89%
  );
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.shoppingBox {
  margin: 0px 100px 0px 100px;
  padding: 60px 0;
  border-top: 0.15px solid #747474;
  border-bottom: 0.15px solid #747474;
}

.shoppingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shoppingContentContainer {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.shoppingImgContentContainer {
  border-radius: 5px;
}

.shoppingText1 {
  font-family: Satoshi;
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
}

.shoppingText2 {
  font-family: Satoshi;
  font-size: 22px;
  font-weight: 400;
  line-height: 20px;
  color: #888888;
  text-transform: capitalize;
}

.shoppingText3 {
  font-family: Satoshi;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #888888;
}

.shoppingText3 span {
  color: #292929;
}

.shoppingCounter {
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 500;
  line-height: 43px;
}

.shoppingCounter p:nth-child(1),
.shoppingCounter p:nth-child(3),
.shoppingClose i {
  cursor: pointer;
}

.shoppingCounter p:nth-child(1),
.shoppingCounter p:nth-child(3) {
  background-color: #b6b5b5;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.shoppingClose {
  height: 196px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Cardo', serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}

/* CHECK OUT BOX */

.checkBoxContainer {
  margin: 60px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .checkBox {
  width: 0%;
} */

.checkBox div {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #006ca2 13.63%,
    rgba(192, 86, 9, 0.49) 67.89%
  );
  color: white;
  transition: 0.5s ease-in-out;
  border-radius: 4px;
  color: white;
  padding: 32px 117px;
  font-weight: 500;
  margin-top: 0;
  text-align: center;
}

.checkBox p {
  font-family: Satoshi;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: #006ca2;
  text-decoration: underline;
  cursor: pointer;
}

.checkBoxPriceBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.checkBoxPrice {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  justify-content: flex-start;
}

.checkBoxPrice1 {
  font-family: Satoshi;
  font-weight: 400;
  line-height: 0px;
  letter-spacing: 0em;
  color: #888888;
  font-size: 19px;
}

.checkBoxPrice2 {
  font-family: Satoshi;
  font-weight: 400;
  line-height: 0px;
  letter-spacing: 0em;
  color: #292929;
  font-size: 19px;
}

@media (min-width: 320px) and (max-width: 979px) {
  .marketLinkBox {
    display: none;
  }
}
