.FeaturedProductContainer {
  display: flex;
  gap: 37px;
  /* align-items: center; */
  justify-content: center;
  border-top: 0.5px solid #333333;
  padding: 60px 0;
}

.rowReverse {
  display: flex;
  gap: 37px;
  flex-direction: row-reverse;
  /* align-items: center; */
  justify-content: center;
  border-top: 0.5px solid #333333;
  padding: 60px 0;
}

.FeaturedProfileContainer {
  display: flex;
  align-items: center;
}
.FeaturedImageContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 150px;
}

.FeaturedProfileImg1 {
  position: absolute;
  left: 30px;
}

.FeaturedProfileImg2 {
  position: absolute;
  left: 62px;
}

.FeaturedProfileImg3 {
  position: absolute;
  left: 94px;
}

.FeaturedProfileImg4 {
  position: absolute;
  left: 125px;
}

.FeaturedProfileImg5 {
  position: absolute;
  left: 110px;
}

.FeaturedIcon {
  font-size: 50px;
  font-weight: 100;
  margin-left: 60px;
  cursor: pointer;
}

.FeaturedProductTitle {
  font-family: STIX Two Text;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
}

.FeaturedProductText {
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.FeaturedProfileContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.arrow {
  position: absolute;
  right: 0%;
  top: 20%;
  fontsize: 1rem;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* FEATURED  */
.featuredMain {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 120px;
  flex-direction: column;
  margin: 0 auto;
}

.featuredTitle {
  font-size: 48px;
  font-weight: 500;
  line-height: 65px;
  letter-spacing: 0em;
  margin-top: 160px;
}
