.FeaturedProductContainer {
  display: flex;
  gap: 37px;
  /* align-items: center; */
  justify-content: center;
  border-top: 0.5px solid #333333;
  padding: 60px 0;
}

.MainFeaturedImage {
  position: relative;
  color: transparent;
  border: transparent;
}

.MainFeaturedImage:hover {
  color: white;
}

.Imagearrow {
  border: none;
}

.Imagearrow:hover {
  border: 1px solid #ccc;
}

.InnerFeaturedImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: white; */
  width: 80%;
  font-family: Clash Display;
  font-size: 30px;
}
.Imagearrow {
  position: absolute;
  right: 0%;
  top: 30%;
  font-size: 1rem;
  background: transparent;
  /* border: 1px solid #ccc; */
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.FeaturedImage:hover {
  cursor: pointer;
  transition: 0.2s;
  filter: blur(2px) brightness(60%);
}
.rowReverse {
  display: flex;
  gap: 37px;
  flex-direction: row-reverse;
  /* align-items: center; */
  justify-content: center;
  border-top: 0.5px solid #333333;
  padding: 60px 0;
}

.FeaturedProfileContainer {
  display: flex;
  align-items: center;
}

.FeaturedImageContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 150px;
}

.FeaturedProfileImg1 {
  position: absolute;
  left: 30px;
}

.FeaturedProfileImg2 {
  position: absolute;
  left: 62px;
}

.FeaturedProfileImg3 {
  position: absolute;
  left: 94px;
}

.FeaturedProfileImg4 {
  position: absolute;
  left: 125px;
}

.FeaturedProfileImg5 {
  position: absolute;
  left: 110px;
}

.FeaturedIcon {
  font-size: 50px;
  font-weight: 100;
  margin-left: 60px;
  cursor: pointer;
}

.FeaturedProductTitle {
  font-family: STIX Two Text;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  color: #333333;
}

.FeaturedProductText {
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.FeaturedProfileContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.arrow {
  position: absolute;
  right: 0%;
  top: 20%;
  font-size: 1rem;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* FEATURED  */

.featuredMain {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 120px;
  flex-direction: column;
  margin: 0 auto;
}

.featuredTitle {
  font-size: 48px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0em;
  margin-top: 160px;
}

@media (max-width: 320px) {
  .FeaturedImageContainer {
    margin-right: 85px !important;
  }

  .FeaturedProfileImg,
  .FeaturedProfileImg1,
  .FeaturedProfileImg2,
  .FeaturedProfileImg3,
  .FeaturedProfileImg4 {
    width: 28px !important;
    height: 28px !important;
  }

  .arrow {
    top: 20%;
    width: 2rem;
    height: 2rem;
  }

  .InnerFeaturedImage {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .featuredMain {
    padding: 0px;
  }

  .FeaturedImage {
    width: 100%;
    height: 255px;
    padding-top: 30px;
  }

  .mobileFeaturedProduct {
    width: 60%;
  }

  .featuredTitle {
    font-family: Satoshi;
    font-size: 30px;
    margin-top: 100px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    padding-left: 10px;
  }

  .FeaturedProductTitle {
    font-size: 32px;
    margin-top: 0;
  }

  .FeaturedProductText {
    font-family: Satoshi;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    color: #616161;
  }
}

@media (max-width: 768px) {
  .InnerFeaturedImage {
    font-size: 25px;
  }

  .featuredMain {
    padding: 0px 5px;
  }

  .featuredTitle {
    font-family: Satoshi;
    font-size: 28px !important;
    margin-top: 100px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
  }

  .FeaturedImage {
    width: 100%;
    height: 255px;
    padding-top: 30px;
  }

  .FeaturedProductTitle {
    font-size: 30px;
    margin-top: 0;
  }

  .FeaturedProductText {
    font-family: Satoshi;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    color: #616161;
  }

  .FeaturedProfileImg,
  .FeaturedProfileImg1,
  .FeaturedProfileImg2,
  .FeaturedProfileImg3,
  .FeaturedProfileImg4 {
    width: 32px;
    height: 32px;
  }

  .FeaturedProfileImg1 {
    left: 20px;
  }

  .FeaturedProfileImg2 {
    left: 42px;
  }

  .FeaturedProfileImg3 {
    left: 64px;
  }

  .FeaturedProfileImg4 {
    left: 85px;
  }

  .FeaturedImageContainer {
    margin-right: 100px;
  }
}
