.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footerTitle {
  font-family: Clash Display;
  font-size: 40px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0px;
}

.footerCopy {
  text-align: center;
  margin-top: 90px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #333333;
}

.footerListContainer {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.footerListText {
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  cursor: pointer;
}

/* FOOTER SUBSCRIPTION */

.Subscription {
  border: 1px solid #333333;
  padding: 62px 0;
  margin: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Subscription h2 {
  font-family: 'Baskervville', serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
}

.Subscription p {
  font-family: Satoshi;
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  margin-top: 0px;
}

.Subscription input {
  width: 400px;
  height: 60px;
  padding: 0 40px;
}

.Subscription button {
  border: 1px solid #333333;
  background-color: #333333;
  cursor: pointer;
  color: white;
  width: 182px;
  margin-left: 23px;
  height: 60px;
  transition: 1s;
}

.Subscription button:hover {
  background-color: #292929;
}

@media screen and (min-width: 375px) {
  .mobileInputBar {
    display: flex;
  }
}

@media screen and (max-width: 429px) {
  .footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column !important;
  }
  .Subscription input {
    width: 175px !important;
    height: 60px;
    padding: 0 20px !important;
    margin-left: 0px !important;
  }

  .Subscription input::placeholder {
    font-size: 10px;
    text-transform: capitalize;
  }

  .Subscription button {
    border: 1px solid #333333;
    background-color: #333333;
    cursor: pointer;
    color: white;
    width: 100px;
    margin-left: 13px;
    margin-right: 0px !important;
    height: 60px;
  }
}

@media (width <= 768px) {
  .Subscription {
    border: 1px solid #333333;
    padding: 62px 10px;
    margin: 54px 5px;
  }

  .Subscription h2 {
    font-size: 27px;
    margin-bottom: 5px;
  }

  .Subscription p {
    font-size: 24px;
    text-align: center;
  }

  .Subscription input {
    width: 240px;
    height: 60px;
    padding: 0 40px;
    margin-left: 5px;
  }

  .Subscription button {
    border: 1px solid #333333;
    background-color: #333333;
    cursor: pointer;
    color: white;
    width: 100px;
    margin-left: 13px;
    margin-right: 5px;
    height: 60px;
  }

  /* FOOTER */

  .footerTitle {
    margin-left: 7px;
    margin-bottom: 0px;
  }

  .footerCopy {
    margin-top: 20px;
    font-size: 12px;
  }

  .footerListContainer {
    gap: 15px;
    padding-left: 7px;
  }

  .footerListText {
    font-size: 22px;
    transition: 1s;
  }

  .footerListText:hover {
    color: #292929;
  }
}
