.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footerTitle {
  font-family: Clash Display;
  font-size: 40px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0px;
}

.footerCopy {
  text-align: center;
  margin-top: 90px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #333333;
}

.footerListContainer {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.footerListText {
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  cursor: pointer;
}

/* FOOTER SUBSCRIPTION */

.Subscription {
  border: 1px solid #333333;
  padding: 62px 0;
  margin: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Subscription h2 {
  font-family: 'Baskervville', serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  margin-bottom: 10px;
}

.Subscription p {
  font-family: Satoshi;
  font-size: 20px !important;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  margin-top: 0px;
}

.Subscription input {
  width: 400px;
  height: 60px;
  padding: 0 40px;
}

.Subscription button {
  border: 1px solid #333333;
  background-color: #333333;
  cursor: pointer;
  color: white;
  width: 182px;
  margin-left: 23px;
  height: 60px;
  transition: 1s;
}

.Subscription button:hover {
  background-color: #292929;
}

.mobilehidden {
  display: none;
}
@media (width >= 768px) {
  .Subscription p {
    text-align: center;
    font-size: 20px;
  }
}

@media screen and (max-width: 429px) {
  .Subscription {
    border: none !important;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px;
  }

  .Subscription h2 {
    font-family: Baskervville;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    margin-bottom: 12px;
    color: #333333;
  }

  .Subscription p {
    text-align: left !important;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    margin-bottom: 25px;
    color: #333333;
  }

  .mobileInputBar {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 100%;
  }

  .footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column !important;
  }
  .Subscription input {
    width: 330px !important;
    height: 46px;
    padding: 0 15px !important;
    border: 1px solid #333333;
  }

  .Subscription input::placeholder {
    font-family: Satoshi;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #333333;
  }

  .Subscription button {
    background: #272727;
    border: 1px solid #333333;
    cursor: pointer;
    color: white;
    width: 181.63px;
    height: 53.64px;
    margin-left: 0px;
  }

  .hidden {
    display: none;
  }

  .mobilehidden {
    display: block;
    font-family: Satoshi;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }

  .footerCopy {
    margin-top: 20px;
    font-size: 12px;
  }

  .footerListContainer {
    gap: 15px;
    font-family: Satoshi;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    /* padding-left: 7px; */
  }

  .footerListText {
    font-size: 22px;
    transition: 1s;
  }

  .footerListText:hover {
    color: #292929;
  }
}
