@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Bellefair&family=Cardo&family=Inter:wght@500&family=Poppins&family=Rubik:wght@500&family=STIX+Two+Text:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/clash-display');

html,
body {
  padding: 0;
  margin: 0;
  color: #292929;
  font-family: 'Satoshi', sans-serif;
  scroll-behavior: smooth;
  background-color: #d9d9d9;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.red {
  color: red;
}

.FeaturedProductContainer {
  display: flex;
  gap: 37px;
  align-items: center;
  justify-content: center;
  border-top: 0.5px solid #333333;
  padding: 60px 0;
}

.arrowOpen {
  transform: rotate(180deg);
  transition: 0.5s;
}

.dropDownOpen {
  display: block;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  border: 2px solid red;
}

.dropdown-body {
  display: none;
}

@media (max-width: 768px) {
  .FeaturedProductContainer {
    flex-direction: column;
    padding: 0 5px 30px 5px;
  }

  .rowReverse {
    flex-direction: column !important;
    padding: 0 5px 30px 5px !important;
  }
}

.rowReverse {
  display: flex;
  gap: 37px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-top: 0.5px solid #333333;
  padding: 60px 0;
}

/* SECTION LIST  */
.sectionList {
  border-bottom: 0.5px solid #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.borderTop {
  border-top: 0.5px solid #333333;
  border-bottom: 0.5px solid #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

Link {
  cursor: pointer;
}

/* NAVBAR CSS */

.navList {
  cursor: pointer;
  font-size: 18px;
  font-weight: normal;
  /* font-weight: 500; */
  /* font-size: 24px; */
  line-height: 32px;
  letter-spacing: 0em;
  transition: 300ms ease-out;
  position: relative;
}

.navList:after {
  bottom: -4px;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #292929;
  opacity: 0.6;
  transition: width 0.6s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}

.navList:hover:after {
  width: 100%;
  opacity: 0.9;
}

.active {
  border-bottom: 2px solid #292929;
}

@media (max-width: 428px) {
  .mobilenavList {
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: 0px;
    color: #333333;
    padding: 0 15px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 300ms ease-out;
  }

  .mobilenavList,
  .mobilenavList:after,
  .mobilenavList:before {
    transition: all 0.5s;
  }

  .mobilenavList:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
  }

  .mobilenavList:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
  }

  /* Keyframes */
  @keyframes circle {
    0% {
      width: 1px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 1px;
      z-index: -1;
      background: #eee;
      border-radius: 100%;
    }
    100% {
      background: #aaa;
      height: 5000%;
      width: 5000%;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0;
    }
  }
  .active {
    color: red;
  }
}
