.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Clash Display', sans-serif;
  font-size: 80px;
  font-weight: 600;
  line-height: 125px;
  letter-spacing: 0px;
  text-align: center;
  /* width: 70%;
  margin: 0 auto; */
}

.headerText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Satoshi;
  font-size: 23px;
  width: 70%;
  margin: 0 auto;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}
