.headerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  flex-direction: column;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Clash Display', sans-serif;
  font-size: 80px;
  font-weight: 600;
  line-height: 125px;
  letter-spacing: 0px;
  width: 70%;

  /* 
  margin: 0 auto; */
}

.headerText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Satoshi;
  font-size: 28px;
  width: 55%;
  margin: 0 auto;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}

@media (width <= 768px) {
  .headerContainer {
    padding: 0 10px;
    width: 100%;
    font-family: Clash Display;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 5px;
  }

  .headerText {
    padding: 0 20px;
    width: 100%;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .headerContainer {
    padding: 0px !important;
    width: 100%;
    font-family: Clash Display;
    font-size: 60px;
    font-weight: 500;
    line-height: 88px !important;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 10px;
  }

  .headerText {
    padding: 0 20px;
    width: 100%;
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
  }
}
