/* SECTION LIST  */

.sectionTitle {
  padding: 10px 0 10px 10px;
  font-family: Satoshi;
  font-size: 30px;
  font-weight: 500;
  line-height: 65px;
  letter-spacing: 0em;
}

.sectionListIcon {
  padding: 10px 20px 10px 10px;
  font-size: 37px;
  cursor: pointer;
  color: #4693ed;
}

@media (max-width: 768px) {
  .sectionTitle {
    padding: 10px 0 10px 10px;
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
  }

  .sectionListIcon {
    padding: 10px 20px 10px 10px;
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .sectionTitle {
    padding: 10px 0 10px 10px;
    font-family: Satoshi;
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
  }

  .sectionListIcon {
    padding: 10px 20px 10px 10px;
    font-size: 32px;
  }
}
