/* MAIN LEFT SIDE */
.marketPlaceMain {
  width: 20%;
}

.price_select {
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 0.4px solid #000000;
  color: #333;
  appearance: none;
  width: max-content;
  /* box-shadow: 0 0 5px #333; */
}
/* category component */

.categoryTitle {
  font-family: Satoshi;
  font-size: 26px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  margin-bottom: 5px;
}

.hrCategory {
  border-radius: 10px;
  margin-top: 0;
  border: 2px solid #afb091;
  background-color: #afb091;
}

.checkmarkContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  transition: 0.5s ease-in-out;
}

.categoryContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.checkmarkBox {
  margin-right: 2rem;
  width: 1.625rem;
  height: 1.625rem;
  color: black;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  accent-color: #d9d9d9;
}

/* .checkmarkBox {
  position: absolute;
  padding: 20px;
  cursor: pointer;
}

.checkmarkBox:checked {
  background-color: green;
  padding: 10px;
  border: 2px solid red;
}

.checkmark {
  border: 2px solid white;
  padding: 10px;

  border-radius: 5px;
}
*/
.categorySubTitle {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  cursor: pointer;
}

/* ARTIST */
.ArtistList {
  font-family: Satoshi;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  transition: 300ms ease-out;
  position: relative;
  cursor: pointer;
}

.ArtistList:after {
  bottom: -4px;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #292929;
  opacity: 0.6;
  transition: width 0.6s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}

.ArtistList:hover:after {
  width: 10%;
  opacity: 0.9;
}
@media (max-width: 1000px) {
  .marketPlaceMain {
    display: none;
  }
}
