.nav {
  position: sticky;
  top: 0;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
}

/* MOBILE */

.closeTab {
  display: none;
}
.navCenterList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 300ms ease-out;
}

.gap47 {
  gap: 47px;
}

.gap10 {
  gap: 10px;
}

.navLogo {
  font-size: 32px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0px;
  font-family: 'STIX Two Text', serif !important;
}

.navListIcon {
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.toggle {
  display: none;
}

@media (max-width: 428px) {
  .gap47,
  .bell {
    display: none;
  }

  .toggle {
    display: block;
  }

  .nav {
    justify-content: space-between;
    padding: 0px 18px;
  }

  .nav h1 {
    margin-left: 70px;
    font-family: STIX Two Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0px;
  }

  .toggle {
    font-size: 2rem;
    cursor: pointer;
  }

  .closeTab {
    display: block;
    height: 100vh;
    z-index: 2;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
  }

  .absolute {
    position: relative !important;
    height: 90vh;
  }

  .mobilenavMessage {
    position: absolute !important;
    bottom: 0px;
    right: 10px;
    cursor: pointer;
  }

  .mobilegap47 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
  }

  .mobilenavList {
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: 0px;
    color: #333333;
  }
  .mobilecloseTab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }
  .closetoggle {
    font-size: 2.5rem;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .mobilecloseTab h2 {
    font-family: STIX Two Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0px;
    margin-left: 20px;
  }
}
